*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav is the flex container  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #FFFFFF;
}

/* Menu */
.nav-menu{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 25px;
    color: #575757;
}


/* Button */
.common-btn{
    background-color: #1D4ED8;
    padding: 14px 22px;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


/* header info text */
.header-info h1{
    font-size: 80px;
    color: #FFFFFF;
   font-family: "Open Sans", sans-serif;
}
.header-info h1 .italic{
    font-style: italic;
    font-weight: bold;
}
.header-info p{
    font-size: 22px;
    color: #FFFFFF;
}
/* header file */

header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("./image/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    text-align: center;
    padding: 100px 0;
}

/* speaker part start */

/* Whole section */
.section-meet-speaker{
    padding: 80px;
}

/* Section heading */
.speaker-text{
    text-align: center;
    margin-bottom: 50px;
}

.speaker-text h2{
    font-size: 56px;
    color: #000102;
    font-weight: bold;
}

/* Grid container */
.speaker-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 32px;
}

/* Individual card */
.speaker-card-info{
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

/* Image */
.speaker-card-info img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* Category */
.speaker-card-info .first{
    color: #2563eb;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Name */
.speaker-card-info h3{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Description */
.speaker-card-info .second{
    color: #575757;
    font-size: 14px;

}
.information{
    text-align: left;
    margin: 30px 30px;
}


/* price part start */
 .section-price-part{
    padding: 80px;
}

.section-price-part-top{
    text-align: center;
    margin-bottom: 60px;
}

.section-price-part-top h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-price-part-top p{
    font-size: 16px;
    color: #575757;
}

.section-card-all{
    display:flex;
    justify-content:center;
    align-items:stretch;
    gap:30px;
    flex-wrap:wrap;
}

.price-card{
    width: 350px;
    padding: 35px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    background: #fff;
    flex-direction: column;
    display: flex;
}

.price-first-info{
    font-size: 14px;
    color: #888;
    margin-bottom: 8px;
}

.price-price{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 8px;
}

.price-divider{
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.price-list-info{
    padding-left:20px;
    margin-bottom:30px;
    flex:1;
}

.price-list-info li{
    margin-bottom: 16px;
    color: #444;
    line-height: 1.6;
}

.price-list-info li::marker{
    color: #1D4ED8;
}

.btn-price{
    width: 100%;
    padding: 15px;
    border: 2px solid #2563EB;
    border-radius: 8px;
    background: white;
    color: #2563EB;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-price .back{
    background-color: black;
}

.pro-card{
    background-color: #0D1B2A;
}

.pro-card .price-first-info,
.pro-card .price-price,
.pro-card .price-list-info li{
    color: #FFFFFF;
}
.pro-card .btn-price{
    background-color: #2563EB;
    color: #fff;
    border: 2px solid #2563EB;
}
.pro-card .price-first-info:first-of-type{
    color: #93C5FD;
}
.team-btn{
    border: 2px solid #0D1B2A;
}

/* footer section */

.footer{
    background-color: #334155;
    color:white;
    padding:50px 80px 30px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}


.footer-social{
    display:flex;
    gap:20px;
}

.footer-social a{
    color:white;
    font-size:22px;
}

.footer-bottom{
    text-align:center;
}

.footer-bottom p{
    color: white;
    font-size:15px;
}
.footer-links{
    display:flex;
    gap:25px;
}
.footer-links a{
    color:white;
    text-decoration:none;
    font-size:15px;
}
.footer hr{
    border: none;
    margin: 25px 0;
    height: 2px;
    background: white;
}