*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav is the flex container  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #FFFFFF;
}

/* Menu */
.nav-menu{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 25px;
    color: #575757;
}


/* Button */
.common-btn{
    background-color: #1D4ED8;
    padding: 14px 22px;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


/* header info text */
.header-info h1{
    font-size: 80px;
    color: #FFFFFF;
   font-family: "Open Sans", sans-serif;
}
.header-info h1 .italic{
    font-style: italic;
    font-weight: bold;
}
.header-info p{
    font-size: 22px;
    color: #FFFFFF;
}
/* header file */

header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("./image/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

/* speaker part start */

/* Whole section */
section{
    padding: 80px;
}

/* Section heading */
.speaker-text{
    text-align: center;
    margin-bottom: 50px;
}

.speaker-text h2{
    font-size: 56px;
    color: #000102;
    font-weight: bold;
}

/* Grid container */
.speaker-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 32px;
}

/* Individual card */
.speaker-card-info{
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

/* Image */
.speaker-card-info img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* Category */
.speaker-card-info .first{
    color: #2563eb;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Name */
.speaker-card-info h3{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Description */
.speaker-card-info .second{
    color: #575757;
    font-size: 14px;

}
.information{
    text-align: left;
    margin: 30px 30px;
}